
.aboutBody {
  display: flex;
  flex-direction: column;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-direction: column;
  background: url(./pages/images/about-me-coffee.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
}

.about-b-bdr {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #dddddd);
  height: 15rem;
}

.aboutme {
  display: flex;
  flex-direction: column;
  color: rgb(219, 219, 219);
  margin-top: 10rem;
  margin-left: 3rem;
  margin-right: 30rem;
  width: 50vw;
  height: 15rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.aboutme-h {
  font-family: cursive;
  font-size: 3rem;
  margin: 0;
}

.add-to-cart-btn {
  display: block;
  width: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.5px solid red;
  border-radius: 2rem;
  padding: 0.5rem 0rem;
  margin-left: 1rem;
  cursor: pointer;
}

.aboutme-p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(219, 219, 219);
}

.aboutPhotosContainer {
  margin-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  background-color: #DDDDDD;
  justify-content: center;
  flex-direction: column;
}

.aboutpics {
  height: 12rem;
  width: 12rem;
  border-radius: 5px;
  margin: 0.5rem;
}

.aboutpics:hover {
  cursor: pointer;
}
