
.aboutBody {
  display: flex;
  flex-direction: column;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-direction: column;
  background: url(./pages/images/about-me-coffee.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
}

.about-b-bdr {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #dddddd);
  height: 15rem;
}

.aboutme {
  display: flex;
  flex-direction: column;
  color: rgb(219, 219, 219);
  margin-top: 10rem;
  margin-left: 3rem;
  margin-right: 30rem;
  width: 50vw;
  height: 15rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.aboutme-h {
  font-family: cursive;
  font-size: 3rem;
  margin: 0;
}


.aboutme-p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(219, 219, 219);
}

.aboutPhotosContainer {
  padding-bottom: 4rem;
  display: flex;
  background-color: #DDDDDD;
  justify-content: center;
  flex-direction: column;
}

.aboutpics {
  height: 12rem;
  width: 12rem;
  border-radius: 5px;
  margin: 0.5rem;
}

.aboutpics:hover {
  cursor: pointer;
}

.home-img {
  width: 30rem;
  height: 35rem;
  /* background-size: contain; */
  background-repeat: no-repeat;
  object-fit: contain;
  

}
.home-img-two {
  width:40rem;
}

.home-img-box {
  display: flex;
  justify-content:center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: 95vw;
  margin-left: 3rem;
}

 .above-pics {
  text-align: left;
  margin-top:5rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  font-size: 4rem ;
 }
 .below-pics {
  text-align: right;
  margin-top:1rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  font-size: 4rem ;
 }
 .empty-cart {
  height: 40rem;
  width:40rem;
  margin-top: 0rem;
 }
 .empty-div {
  border:1px solid black;
  width: 60vw;
  margin: auto;
  height: 25rem;
  border-radius: .5rem;
  box-shadow: 5px 5px 4px 2px rgb(215, 228, 238);
 

 }
 .empty-div h2 {
  font-size: 2rem;
  margin-top: 2rem;


 }

 .beside-empty {
  height:25rem;
  border: 1px solid black;
  width: 25rem;
  border-radius: .5rem;
  
 }

 .empty-main {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
 }
.hide{
  /* display: none; */
  height:fit-content;
  background-color: #eee;
  /* padding: 0.5rem; */
  border-radius: 2rem;
  margin-top: 1rem;
}
.hide2:nth-of-type(even) {
  background-color: #dbcfe2;

}
.hide2 li {
  font-size: 0.7rem;
  padding: 0.75rem;

}