:root {
  --primary-color: rgb(78, 112, 198);
  --grey: #bbb;
  --light: #eee;
  --selected: rgb(244, 167, 72);
  --navbackground: rgba(13, 31, 78, 1);
}
@font-face {
  font-family: "Waltograph UI";
  src: url(./assets/WaltographUI-Bold.woff2) format("woff2"),
    url(./assets/WaltographUI-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Waltograph";
  src: url(./assets/Waltograph.woff2) format("woff2"),
    url(./assets/Waltograph.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  background-color: #ddd;
  background: cover;
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: var(--navbackground);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
a:-webkit-any-link {
  text-decoration: none;
}

.link-selected {
  color: var(--selected);
}

.link-unselected {
  color: var(--light);
}

.logo {
  background-color: var(--selected);
  border-radius: 1rem;
  padding: 6px 3px;
  font-size: 1rem;
  font-weight: 400;
  max-height: 1.5rem;
  font-family: Waltograph;
}

.item-image {
  height: 14rem;
  width: 11rem;
  border-radius: 1rem;
  border: 5px solid lightblue;

  margin-top: 0rem;
  transition: 0.2s;
}
.item-image:hover {
  border: 5px solid var(--navbackground);
}
/* .price-description {
  display: inline;
} */

.single-link {
  color: #333;
}

.single-page-image {
  height: 40rem;
  width: 40rem;
}

.single-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.single-product {
  width: 45rem;
  margin: auto;
  border: 1px solid #aaa;
  margin-top: 5rem;
  background-color: rgba(13, 31, 78, 0.2);
}

.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  max-width: 85%;
  margin: auto;  
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.signin-icon {
  color: var(--navbackground);

  font-size: 1rem;
}

p,
.signin-icon {
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 1rem;
  color: rgba(13, 31, 78, 1);
}

.login-icon {
  color: var(--selected);
}
.product-page-single {
  margin-top: 5rem;
}

.price-info {
  display: flex;
  justify-content: space-evenly;

  margin-top: 0;
}
.price {
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 2rem;
  padding: 0;
}

.qty {
  margin-right: 1rem;
}

.rating-icon {
  color: goldenrod;
}
.aboutBody{
  display: flex;
  flex-direction: column;
}

.aboutContainer{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-direction: column;
  background: url(./pages/images/about-me-coffee.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
}
.about-b-bdr {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #dddddd);
  height: 15rem;
}


.about-b-bdr{
  background-image: linear-gradient(rgba(255, 255, 255, 0), #DDDDDD);
  height: 15rem;
}

.aboutme{
  display: flex;
  flex-direction: column;
  color: rgb(219, 219, 219);
  margin-top: 10rem;
  margin-left: 3rem;
  margin-right: 30rem;
  width: 50vw;
  height: 15rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.aboutme-h {
  font-family: cursive;
  font-size: 3rem;
  margin: 0;
}
.aboutme-p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(219, 219, 219);
}

.aboutPhotosContainer {
  margin-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  background-color: #dddddd;
}
.aboutme-p{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(219, 219, 219);
}

.aboutPhotosContainer{
  margin-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  background-color: #DDDDDD;
  justify-content: center;
  flex-direction: column;
}
.aboutpics {
  height: 12rem;
  width: 12rem;
  border-radius: 5px;
  margin: 0.5rem;
}
.aboutpics:hover {
  cursor: pointer;
}


.aboutpics{
  height: 12rem;
  width: 12rem;
  border-radius: 5px;
  margin: .5rem;
}.aboutpics:hover{
  cursor: pointer;
}

h1{
  font-family: cursive;
  font-size: 3rem;
  margin: 0;
}
.product-name {
  font-size: 0.1rem;
  font-weight: 500;
  color: var(--navbackground);
}
