:root {
  --primary-color: rgb(136, 78, 198);
  --grey: #bbb;
  --light: #eee;
  --selected: rgb(244, 167, 72);
}

.App {
  text-align: center;
}

.navbar {
  background-color: rgb(136, 78, 198);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
a:-webkit-any-link {
  text-decoration: none;
}

.link-selected {
  color: var(--selected);
}

.link-unselected {
  color: var(--light);
}

.logo {
  color: black;
  border: 0.1px solid #eee;
  padding: 5px;
  border-radius: 5px;
}
