:root {
  --primary-color: rgb(78, 112, 198);
  --grey: #bbb;
  --light: #eee;
  --selected: rgb(244, 167, 72);
  --navbackground: rgba(13, 31, 78, 1);
}
@font-face {
  font-family: 'Waltograph UI';
  src: url(./assets/WaltographUI-Bold.woff2) format('woff2'),
      url(./assets/WaltographUI-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Waltograph';
  src: url(./assets/Waltograph.woff2) format('woff2'),
      url(./assets/Waltograph.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


.App {
  text-align: center;
  background-color: #ddd;
  background: cover;
  height: 100%;
  width: 100%;
  
}

.navbar {
  background-color: var(--navbackground);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;

}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
a:-webkit-any-link {
  text-decoration: none;
}

.link-selected {
  color: var(--selected);
}

.link-unselected {
  color: var(--light);
}

.logo {
  background-color: var(--selected);
  border-radius: 1rem;
  padding: 6px 3px;
  font-size: 1rem;
  font-weight: 400;
  max-height: 1.5rem;
  font-family: Waltograph;
}

.item-image {
  height: 15rem;
  width: 12.5rem;
  border-radius: 1rem;
  background-color:rgba(244, 167, 72,0.3);
  
  border: 5px solid lightgrey;
}

/* .price-description {
  display: inline;
} */

.single-link {
  color: #333;
}

.single-page-image {
  height: 40rem;
  width: 40rem;
  
}

.single-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.single-product {
  width: 45rem;
  margin: auto;
  border: 1px solid #aaa;
  margin-top: 5rem;
  background-color: rgba(13, 31, 78, 0.2);
}

.products {
  display: grid;
 grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0.5rem;

 
}

.signin-icon {
  color: var(--navbackground);

  font-size: 1rem;
}

p,
.signin-icon {
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 1rem;
  color: rgba(13, 31, 78, 1);
}

.login-icon {
  color: var(--selected);
}
.product-page-single {
  margin-top: 5rem;

}

.price-info {
  display: flex;
 justify-content:space-evenly;

 margin-top: 0;


}
.price {
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 2rem;
  padding: 0;
}

.rating-icon {
  color: goldenrod;
}

.qty {
  margin-right: 2rem;
}