.cart-item-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-cart-page{
  margin-top: 4rem;
}

.cart-header-box {
  width: 60rem;
  height: 10rem;
  margin: auto;
}
.cart-header {
  margin-top: 5rem
}
.item-text {
  text-align: left;
  width: 15rem;
}

.items-checkout-box {
  width: 60rem;
  margin: auto;
}

.single-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid;
  margin-top: 1rem;
}

.item-name {
  width: 15rem;
  text-align: left;
  margin-left: 1rem;
}


.item-image-name {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.item-p-q-t {
  width: 10rem;
}

.item-qty {
  width: 10rem;
  margin: 2rem;
}

.remove-text {
  margin: 1rem;
}

.remove-text:hover {
  cursor: pointer;
}

.checkout-submit {
  margin-top: 2rem;
}

.cart-btn {
  width: 10rem;
  height: 3rem;
  border-radius: 20px;
  font-size: x-large;
  font-weight: 700;
}

.cart-btn:hover {
  background-color: var(--selected);
  cursor: pointer;

}

.rec-display {
  width: 100vw;
  height: 50vh;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
}


.rec-container {
  width: 90rem;
  height: 50vh;
}

.rec-pics-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60rem;
  margin: auto;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.cart-empty-box {
  width: 50rem;
  height: 10rem;
  margin: auto;
}

.cart-empty-text {
  width: 30rem;
  height: 5rem;
  margin: auto;
}

.RecImg {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.RecItemName {
  font-size: 0.8rem;
}

.items-page{
  box-shadow: 0 6px 20px 0 rgba(149, 173, 240, 0.552);
  margin-left: 21vw;
  margin-right: 16vw;
}