@import url('http://fonts.cdnfonts.com/css/garamond-libre');
@import url('http://fonts.cdnfonts.com/css/outfit');
@import url('http://fonts.cdnfonts.com/css/maybe-coffee');

/*COPY FOR SERIF= font-family: 'Garamond Libre', sans-serif; */
/*COPY FOR SANS= font-family: 'Outfit', sans-serif; */
/*COPY FOR DISPLAY= font-family: 'Maybe Coffee', sans-serif; */

:root {
  --offBlack: #343434;
  --offWhite: #F3F3F3;
  --highLight: #AC05FF;
  --lowLight: rgb(244, 167, 72);
}

.contactPage {
  background-color: var(--offWhite);
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding-top: 5rem;
}

.contactImg {
  background: url(pages/images/captial-mall-northwest-grind-coffee-flight.jpg) no-repeat center;
  background-size: contain;
  height: 20pc;
  margin: 0;
}

.contactInfo {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.contactInfoTitle {
  color: var(--offBlack);
  font-size: 3rem;
  font-weight: bold;
  margin: auto;
  padding: 2rem;
}

.contactFooter {
  background-color: var(--offWhite);
  color: var(--offBlack);
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.contactFooterBold {
  color: var(--highLight);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.hours {
  margin: 0.5rem;
}

.infoElem {
  margin: 0.5rem;
}

.contactForm {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.contactInputBox {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-style: italic;
  border: none;
  display: flex;
  width: 23vw;
  height: 3rem;
  border-radius: 1rem;
  background-color: #eee;
  border: none;
  outline: 0;
  padding: 0rem 2rem;
  transition: 0.2s;
  margin: 2.5rem auto;

}

.contactInputBox:hover {
  box-shadow: 0 6px 20px 0 rgb(149 173 240 / 55%);
}

.contactInputBox:focus {
  border-bottom: 2px solid #ddb892;
  font-style: normal;
  outline: none;
}

.contactInputBoxDes {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-style: italic;
  border: none;
  display: flex;
  width: 23vw;
  height: 8rem;
  border-radius: 1rem;
  background-color: #eee;
  border: none;
  outline: 0;
  padding: 0rem 2rem;
  transition: 0.2s;
  margin: 2.5rem auto;

}

.contactInputBoxDes:hover {
  box-shadow: 0 6px 20px 0 rgb(149 173 240 / 55%);
}

.contactInputBoxDes:focus {
  border-bottom: 2px solid #ddb892;
  font-style: normal;
  outline: none;

}

.contactSubmitBtn {
  border: none;
  background-color: var(--offBlack);
  color: var(--offWhite);
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  padding: .25rem .5rem;
  width: 100%;
  border-radius: 1rem;
}

.contactSubmitBtn:hover {
  cursor: pointer;
  color: #ddb892;
}