
.DealsMain {
  display: flex;
  height: 16rem;
  align-items: center;
  flex-direction: row;
  overflow: overlay;
  background-color:#DDDDDD;
  width: 95vw;
  border-radius: 1rem;
    border: 5px solid lightblue;
}

.Deals {
  display: flex;
  height: 16rem;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  overflow: overlay;
  width: -webkit-fill-available;
}

.DealsImg {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.DealItemName {
  font-size: 0.8rem;
}

.DealItem:hover {
  cursor: pointer;
}

.DealsArrow {
  display: inline-block;
  padding-top: 6.8rem;
  padding-right: 1rem;
  padding-bottom: 6.8rem;
  padding-left: 1rem;
  background-color: #cdcdcd;
  color: black;
  border-radius: 5px;
  font-size: 30px;
}

.DealsArrow:hover {
  background-color: #DDDDDD;
  color: black;
  cursor: pointer;
}

.CardMain-Container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2vh;
}

.Card-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  width: 22.3vw;
  background: #DDDDDD;
  justify-content: center;
  border-radius: 1rem;
  border: 5px solid lightblue;
}

.Cardimg{
  width: 20vw;
  height:30vh;
}

.CardHeader{
height: 5rem;
font-size: 3rem;
margin: 0;
}

.SalePrice-Container{
display: flex;
justify-content: space-evenly;
height: 2vh;
align-items: center;
margin-top: 1rem;
}

.Sale-info{
text-align: center;
background-color: red;
height: 2vh;
width: 5vw;
overflow: hidden;
margin: 0;
padding: 3px;
}

.Sale-Price{
text-align: center;
margin: 0;
}















.home_image{
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 0));
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 10rem;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  margin-bottom: 20rem;
}

.product > img {
  width: 9rem;
  height: 8rem;
  object-fit:contain;
}

#products-img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.myButton.hover{
  cursor: pointer;
}

.myButton {
  background-color: transparent;
  border: 3px solid #ff0251;
  color: #ff0251;
  transition: .3s;
}
.myButton:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

.product_price {
  margin-top: 5px;
}

.product_info {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.home {
  display: flex;
  flex-direction: column;
}

.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.home-image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.productop {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.main-header{
  margin-top: 5rem;
}
