/* html{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.DealsMain {
  display: flex;
  height: 20rem;
  flex-direction: column;
  width: 79vw;
  overflow: auto;
  justify-content: center;
  margin-top: 3rem;
}

.Deals {
  display: flex;
  height: 16rem;
  gap: 2rem;
  align-items: center;
  flex-direction: row;
}

.DealsImg {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.DealItemName {
  font-size: 0.8rem;
}

.DealItem{
  width: 9rem;
  height: 15vh;
}

.DealItem:hover {
  cursor: pointer;
}

/* .DealsArrow {
  display: inline-block;
  padding-top: 6.8rem;
  padding-right: 1rem;
  padding-bottom: 6.8rem;
  padding-left: 1rem;
  background-color: #cdcdcd;
  color: black;
  border-radius: 5px;
  font-size: 30px;
} */

.DealsArrow:hover {
  background-color: #DDDDDD;
  color: black;
  cursor: pointer;
}

.CardMain-Container{
  display: flex;
  flex-direction: row;
  width: 70vw;
  gap: 1rem;
  margin-top: 2vh;
}

.Card-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 22vh;
  width: 17vw;
  background: #eeeeee;
  justify-content: center;
}
.Card-div:hover{
  cursor: pointer;
}

.Cardimg{
  width: 10vw;
  height: 10vh;
}

/* .SalePrice-Container{
display: flex;
justify-content: space-evenly;
height: 2vh;
align-items: center;
margin-top: 1rem;
}

.Sale-info{
text-align: center;
background-color: red;
height: 2vh;
width: 5vw;
overflow: hidden;
margin: 0;
padding: 3px;
}

.Sale-Price{
text-align: center;
margin: 0;
} */

/* .HotItems-Container{
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  height: 90vw;
} */

.HotItems-Container{
  display: flex;
  margin: 6rem;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
  /* height: 60rem; */
  justify-content: center;
  align-content: flex-start;
}

.HotItem-Card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.HotItem-Img{
width: 16vw;
height: 25vh;
}

.belowHotItem-image{
  background-color: #eee;
  text-align: left;
  height: 20vh;
  max-width: 25rem;
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Hotproduct-name{
  margin-left: 1rem;
  margin-top: 0.7rem;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Quicksand";
}

.HotItem-Head{
  margin-top: 8rem;
  font-size: 5rem;
}









.home_image{
  width: 100%;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 0));
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 10rem;
  background-color: white;
}

.product > img {
  width: 9rem;
  height: 8rem;
  object-fit:contain;
}

#products-img {
  width: 8rem;
  height: 8rem;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.myButton.hover{
  cursor: pointer;
}

.myButton {
  background-color: transparent;
  border: 3px solid #ff0251;
  color: #ff0251;
  transition: .3s;
}
.myButton:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

.product_price {
  margin-top: 5px;
}

.product_info {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home_container{
  display: flex;
  flex-direction: column;
}

.home_row {
  display: flex;
  gap: 1rem;
  width: 80vw;
  overflow: auto;
  align-items: center;
}

.home-image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.productop {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.main-header{
  margin-top: 5rem;
}