@import url('http://fonts.cdnfonts.com/css/garamond-libre');
@import url('http://fonts.cdnfonts.com/css/outfit');
@import url('http://fonts.cdnfonts.com/css/maybe-coffee');

.loginButtons{
  box-shadow:inset 0px 1px 0px 0px #000000;
  background-color:#595959;
  border-radius:6px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'outfit', cursive;;
  font-size: 18px;
  padding:6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  
}
.loginButtons:hover{
background-color: #ffffff;
color: #595959;
position:relative;
top:1px;

}
.loginButtons:active{
  position:relative;
  top:1px;
}
.inputBox{
  margin-top: 0rem;
  margin-bottom: 0rem;
  background-color: rgb(249, 249, 249);
  font-family:'outfit', Times, serif;
  font-weight: 400;
  font-size: medium;
  text-align: center;
  margin: .5rem;
  border-top: none;
  border-right: none;
  margin-left: .5rem;
  margin-right: .5rem;
  }

  .inputBox:focus{
    outline: none;
  }

/* .loginHeader{
  font-family:'outfit';
  font-size: 2.5rem;
  font-weight: 800px;
  color:#000000;
  margin-top: 4px;
  padding-top: 1px;
} */
.create-login-headers{
  font-family:'outfit';
  font-size: 25px;
  font-weight: 800px;
  color:#000000;
  margin-top: 4px;
  padding-top: 1px;
}

.login-createContainers{
  border: solid black;
  display:flexbox;
  margin: auto;
  width: 15rem;
  height: 20rem;
  padding: .5 rem;
  background-color: rgb(219, 219, 214);
}

.mainDivContainer{
  display:inline-flex;
  justify-content: center;
  position: relative;
  margin:auto;
}

.loginSuccessButtonDivs{
  display: flexbox;
  margin: auto;
  justify-content: center;
  padding: .5 rem;
}