@import url('http://fonts.cdnfonts.com/css/garamond-libre');
@import url('http://fonts.cdnfonts.com/css/outfit');
@import url('http://fonts.cdnfonts.com/css/maybe-coffee');

.loginButtons {
  border: none;
  background-color: var(--offBlack);
  color: var(--offWhite);
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

.login-Buttons {
  border: none;
  background-color: var(--offBlack);
  color: var(--offWhite);
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  width: 15%;
  border-radius: 1rem;
  margin: 2rem auto;

}

.loginButtons:hover {
  color: #ddb892;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.login-Buttons:hover {
  color: #ddb892;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.loginButtons:active {
  position: relative;
  top: 1px;
}

.inputBox {
  font-family: 'outfit', Times, serif;
  font-weight: 400;
  font-size: medium;
  width: 16vw;
  height: 3rem;
  border-radius: 1rem;
  background-color: #eee;
  border: none;
  outline: 0;
  padding: 0rem 2rem;
  transition: 0.2s;
  margin: .5rem auto;
}

.inputBox:hover {
  box-shadow: 0 6px 20px 0 rgb(149 173 240 / 55%);
}

.inputBox:focus {
  outline: none;
}

.create-login-headers {
  font-family: 'outfit';
  font-size: 25px;
  font-weight: 800px;
  color: #000000;
  margin-top: 4px;
  padding-top: 1px;
}

.loginHeader {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.login-createContainers {
  display: flexbox;
  margin: auto;
  margin-bottom: 4rem;
  width: 16vw;
  height: 20rem;
  padding: .5 rem;
  background-color: var(--offWhite);
}

.mainDivContainer {
  display: flex;
  flex-direction: column;
}

.loginSuccessButtonDivs {
  margin: auto;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
}

.loggedinHeader {
  margin-bottom: 5rem;
  margin-top: 5rem;
}