@import url('http://fonts.cdnfonts.com/css/maybe-coffee');


:root {
  --primary-color: rgb(78, 112, 198);
  --grey: #bbb;
  --light: #eee;
  --selected: rgb(244, 167, 72);
  --navbackground: #266D6F;
}

.App {
  text-align: center;
  background-color: #fff;
  background: cover;
  height: 100%;
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

a:-webkit-any-link {
  text-decoration: none;
}

.link-selected {
  color: #AC05FF;
  font-size: 130%;
  transition: .5s;
}

.link-unselected {
  color: #F3F3F3;
}

.logo {
  /* background-color: var(--selected); */
  border-radius: 1rem;
  padding: 6px 3px;
  font-size: 1rem;
  font-weight: 400;
  /* font-family: Waltograph; */
  font-family: 'Maybe Coffee', sans-serif;
  display: flex;
  flex-direction: row;
  width: 13rem;
  height: 3rem;
  align-items: center;
}

.signin-icon {
  color: #AC05FF;
  font-size: 2rem;
}

.login-icon {
  color: #AC05FF;
}
