@import url("http://fonts.cdnfonts.com/css/maybe-coffee");

:root {
  --primary-color: rgb(78, 112, 198);
  --grey: #bbb;
  --light: #eee;
  --selected: rgb(244, 167, 72);
  --navbackground: #266d6f;
}

.App {
  text-align: center;
  background-color: #fff;
  background: cover;
  height: 100%;
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

a:-webkit-any-link {
  text-decoration: none;
}

.link-selected {
  color: #ac05ff;
  font-size: 130%;
  transition: 0.5s;
}

.link-unselected {
  color: #f3f3f3;
}

.logo {
  /* background-color: var(--selected); */

  /* font-family: Waltograph; */
  font-family: "Maybe Coffee", sans-serif;
  display: flex;
  flex-direction: row;
  /* width: 13rem;  */
  height: 3rem;
  align-items: center;
}

.signin-icon {
  color: #ac05ff;
  font-size: 2rem;
}

.login-icon {
  color: #ac05ff;
}

.cart-mini:nth-child(1) {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0 5px;
  color: red;
  font-weight: bold;
  position: relative;
  top: -15px;
}

.error-box {
  width: 80rem;
  height: 15rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
}

.error-text {
  font-size: xxx-large;
}

.error-btn {
  width: 15%;
  height: 2.5rem;
  /* border-radius: 30px; */
  transition: .5s ease;
  border: none;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #444;
  color: #eee;
}

.error-btn:hover {
  cursor: pointer;
}