
:root {
  --primary-color: rgb(78, 112, 198);
  --grey: #bbb;
  --light: #eee;
  --selected: rgb(244, 167, 72);
  --navbackground: rgba(13, 31, 78, 1);
}


.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  max-width: 85%;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.qty {
  margin-right: 1rem;
}

.rating-icon {
  color: goldenrod;
}


p,
.signin-icon {
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 1rem;
  color: rgba(13, 31, 78, 1);
}

.product-page-single {
  margin-top: 5rem;
}

.price-info {
  display: flex;
  justify-content: space-evenly;

  margin-top: 0;
}

.price {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 5rem;

}

.product-name {
  font-size: 1rem;
  font-weight: 500;
  color: var(--navbackground);
}

.item-image {
  height: 14rem;
  width: 11rem;
  border-radius: 1rem;
  border: 5px solid lightblue;

  margin-top: 0rem;
  transition: 0.2s;
}

.item-image:hover {
  border: 5px solid var(--navbackground);
}


.single-link {
  color: #333;
}

.single-page-image {
  height: 20rem;
  width: 20rem;
  /* margin: 2rem; */
 
  padding: 3rem;
  margin: 0 3rem;
  box-shadow: 0 0 50px 2px #ddd;
 border-radius: 5px;
}



.single-footer {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-evenly; */

}
.footer-left {
  text-align: left;
}
.single-product-page {
  width: 100%;
  height: 100vh;
 


  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.single-product {
  background-color: #fff;
  margin: 2rem;
  margin-left: 0;
}
.side-piece {
  padding-left: 2rem;
  height: 30rem;
  width: 30rem;
  text-align: left;
}

.main-single {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 65vw;
  height: 30rem;
  
  
}
sup {
  font-weight: 700;
}

.productHeader {
  margin-top: 40px;
  padding-top: 15px;
}

.single-price {
  font-size: 0.75rem;
  text-align: right;
  margin-left: 3rem;
 
}
.single-title {
  /* display: inline; */
}

.de {
display: flex;
flex-direction: row;
  width: 25rem;
  justify-content: space-around;


}

.single-detail {
  line-height: 1.5rem;
  margin-top: 1rem;
  font-weight: 200;

}

img {
  width: 7rem;
  margin-top: 1rem;
  border-radius: 5px;
  margin-right: .6rem;
  height: 7rem;

}

.helper-images {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.single-btns {
  margin-top: 2rem;
 
}

.single-add-to-cart, .single-back-to-products {
  padding: 10px 10px;
  margin-right:1rem;
  background-color: var(--navbackground);
  opacity: 0.9;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;

}