@import url('http://fonts.cdnfonts.com/css/garamond-libre');
@import url('http://fonts.cdnfonts.com/css/outfit');
@import url('http://fonts.cdnfonts.com/css/maybe-coffee');

/*COPY FOR SERIF= font-family: 'Garamond Libre', sans-serif; */
/*COPY FOR SANS= font-family: 'Outfit', sans-serif; */
/*COPY FOR DISPLAY= font-family: 'Maybe Coffee', sans-serif; */

:root {
  --offBlack: #343434;
  --offWhite: #F3F3F3;
  --highLight: #AC05FF;
  --lowLight: rgb(244, 167, 72);
}

.summaryBox {
  background-color: var(--offWhite);
  font-family: 'Outfit', sans-serif;
}

.grandTotal {
  font-weight: bold;
}